{% extends "base.html" %}
{% block title %} {{pokemon.name}} {% endblock  %}
{% block content %}
  <p>Has elegido el pokemon: <strong>{{ pokemon | capfirst }}</strong></p>
  <h3>Información del pokemon</h3>
  <div class="row">
    <div class="col-sm-4">
      <ul>
          <li>Nombre: {{pokemon.name}} </li>
          <li>Tipo: {{pokemon.get_type_display}} </li>  <!--pokemon.get_type_display importante para mostrar el texto completo-->
          <li>Peso: {{pokemon.weight}} </li>
          <li>Altura: {{pokemon.height}} </li>
          <li>Entrenador: {{pokemon.trainer}} </li>
      </ul>
    </div>
    <div class="col">
      <img src="{{pokemon.picture.url}}" class="card-img-top" alt="...">
    </div>
  </div>
{% endblock content %}


  
